// tạo các biến
$font: "Inter", sans-serif;
$text-color: #650107; // mầu chữ chủ đạo
$text-colorRank: #7e7e84;
$primary-color: #f53838; // mầu chủ đạo
$bgc-profile: #FAFAFA;
$bgc-icon: #FE616B;
$bgc-body: #FFFFFF;
$body-column-title: #043b72; // biến màu tiêu đề sản phẩm nổi bật
$bgc-service: #fee0be; // biến mầu sản phầm nổi bật
$news-title: #282832; // biến tin tức tiêu đề
$txt-bank: #a0a3bd; // biến mầu chữ ngân hàng
$border: #d7d9e2; 
$bgc-condition: #F6F8FC;
$service: #2B79F7;
$color-info: #5d78ff;
$bgc-info: rgba(93, 120, 255, 0.1);
$border-input: #ced4da;
//product
$bgc-product:rgba(var(--bs-body-color-rgb), 0.01);
$border-table:#D7D9E2;
$hover-colorProduct:rgba(var(--bs-body-color-rgb), 0.5);
$titleListID:#0B142D;
$bgc-modal:#282527;
$text-color--maganer:#A0A3BD;
//mobile menu
$menu-mobile:#f8f9fa;
$btnSubmit: #0abb87;
// $bgc-info: #f6f6f6;
$bgc-gender: #ffdddf88;